
        <div class="modal-header">
            <h3 class="modal-title" ng-show="!editing">
                {{note.label}}
            </h3>
            <h3 class="modal-title" ng-show="editing">
                <input type="text" class="form-control" ng-model="note.label" >
            </h3>
        </div>
        <div class="modal-body">
            <div class="panel panel-default">
                <div ng-show="!editing" class="panel-body" ng-bind-html="note.description | nl2br">
                </div>
                <div ng-show="editing" class="panel-body">
                    <textarea class="form-control" style="height: 200px;" ng-model="note.description"></textarea>
                </div>
                <div class="panel-footer">
                    <span ng-show="!editing">
                        <button ng-click="edit(note)" class="btn btn-primary">Edit</button>
                        <button ng-click="delete(note)" class="btn btn-danger">Delete</button>
                    </span>
                    <span ng-show="editing">
                        <button ng-click="cancelEdit()" class="btn btn-primary">Cancel</button>
                        <button ng-click="update()" class="btn btn-success">Save</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-disabled="editing" ng-click="ok()">OK</button>
        </div>
